.venv/
.vscode/
fedml_env/
data/CMAPSSData/
.DS_Store
*.cpython-*.pyc
data/raw/RUL_FD001.txt
data/raw/RUL_FD002.txt
data/raw/RUL_FD003.txt
data/raw/RUL_FD004.txt
data/raw/test_FD001.txt
data/raw/test_FD002.txt
data/raw/test_FD003.txt
data/raw/test_FD004.txt
data/raw/train_FD001.txt
data/raw/train_FD002.txt
data/raw/train_FD003.txt
data/raw/train_FD004.txt
